body{
    background-color: #00203FFF;
    color: azure;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 99%;
    background-color: rgb(84, 133, 111);
}
.skillbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(84, 133, 111);
}


.nav
{
    display:flex;
    list-style-type: none;
    gap: 10px;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: rgb(54, 212, 202);
}
.pimg
{
    padding:30px;
    height: 200px;
    width: 300px;
}
h1
{
    text-align: center;
}
.carrier_objective
{
    text-align: center;
}
.p1
{
    display: flex;
    gap: 20px;
}
.font
{
    font-family:cursive;
  
}
.name
{
    text-shadow: 2px 2px 2px;
    color: rgb(172, 137, 30);
}
.buttons
{
    display: grid;
    place-items: center;
    cursor: pointer;
}
.cv
{
    padding: 8px;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(84, 133, 111);
    border: none;
}
.topic
{
    color: rgb(56, 213, 231);
}
.image
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    margin: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
    
}
.logo
{
    width: 75px;
    height: 75px;
}
.languages
{
    display:flex;
    align-items: center;
    justify-content: center;
}
